.main_image
{
    width: 1350px;
    height: 400px;
    display: block;
    margin: 0 auto;
}

.img_cont{
    font-family: Arial;
    color: #C1A944;
    font-size: 34pt;
    vertical-align:middle;
    text-align:center;
    width: 1350px;
    height: 400px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top:170px;
}

.img_cont img{
    position:absolute;
    z-index:-1;
    left:0;
    top:0;
}

.sight
{
    width: 512px;
    height: 290px;
}

.sight_caption
{
    background: #d9dabb;
    display: block;
    float: left;
    margin: 0 84px 50px 0;
    text-align: left;
}

.sight_caption img
{
    border: 2px solid #8b8e4b;
}

.sight_caption p
{
    margin-bottom: 0;
}

.sight1_redirect
{
    width: 452px;
    height: 290px;
}

.sight2_redirect
{
    width: 212px;
    height: 290px;
}

.sight_caption_redirect
{
    background: #d9dabb;
    display: block;
    margin: 0 0px 0px 0;
    text-align: center;
}

.circle
{
  float: left;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
