{% extends "header_footer.html" %}

{% block content %}

    {% set post = session.query(Post) %}
    {% for i in range(session.query(Post).count()) %}
    {% set images = post[i].images.split("#") %}
        {% if sight == post[i].sight %}
        <h5 style="float:left; margin-top: 12px;">Опубликовано пользователем {{ post[i].nickname }} {{ post[i].datetime }}</h5>
        {% set href = "/delete_post/" + post[i].sight + "/" + post[i].id | string %}
        {% if current_user.nickname == post[i].nickname or current_user.role == "admin" %}
            <a style="float:right; margin-top: 7px;" class="btn btn-danger" href="{{ href }}">Удалить</a>
        {% endif %}
        <div style="text-align: center; margin-top: 50px;">
            <figure class="sight_caption_redirect">
                {% for image in images %}
                    <img src="{{ image }}" class="sight7_1redirect">
                {% endfor %}
                    <h3 style="margin-top: 30px;"><u>{{ post[i].sight }}</u></h3>
                    <main role="main" class="container">
                        <p style="text-align: left;">{{ post[i].description }}</p>
                        {% set note_href = "/add_note/" + post[i].sight %}
                        <a style=" float: right;" class="btn btn-info" href="{{ note_href }}">Добавить в заметки</a>
                    </main>
            </figure>
        </div>
        {% endif %}
    {% endfor %}
    {% include "comment.html" %}
{% endblock %}