{% extends "header_footer.html" %}

{% block content %}

    <div style="text-align: center; margin-top: 50px;">
        <figure class="sight_caption_redirect">
            <img src="static/images/sights/Древний вулкан.jpg" class="sight6_1redirect">
                <h3 style="margin-top: 30px;"><u>Древний вулкан</u></h3>
                <main role="main" class="container">
                    <p style="text-align: left;">К югу от заповедника «Басеги» (Пермский край),
                        на реке Вильве, находится Соколиная (Соколья) гора.
                        Это самый настоящий вулкан, и породы, слагающие гору,
                        вулканического происхождения. Главные из них — трахибазальты и авгититы.
                        Иногда здесь встречаются очень красивые, так называемые «вильвенские»,
                        яшмы и агаты. Их присутствие является свидетельством былых подводных извержений:
                        в морскую воду в больших количествах попадал вулканический кременезём.
                        Грозные извержения подводных и прибрежных вулканов,
                        одним из которых и была Соколиная гора, бушевали здесь
                        в эпоху раннего венда — 559–568 миллионов лет назад.</p>
                </main>
        </figure>
    </div>
    {% include "comment.html" %}
{% endblock %}