{% extends "header_footer.html" %}

{% block content %}
    <div>
        <h3 style="text-align: center; margin-top: 50px;">Личный кабинет</h3>
        <main role="main" class="container">
            {% if current_user.role == 'employee'%}
                <h5>Роль: сотрудник</h5>
            {% else %}
                <h5>Роль: администратор</h5>
            {% endif %}
            <h5>email: {{ current_user.email }}</h5>
            <h5>Имя пользователя: {{ current_user.nickname }}</h5>
            <h5>Аккаунт создан: {{ current_user.datetime }}</h5>
            <h4 style="margin: 70px 0px 0px 0px; ">Смена пароля</h4>
            <div style="margin-top: 15px; margin-right: 15px; background: {{ current_user.avatar_color }};" class="circle">
                <h2 style="text-align: center; color: #E6E6FA;"> {{ current_user.nickname[0].upper() }} </h2>
            </div>
            <a style="margin: 20px 0px 0px 0px;" class="btn btn-info" href="/change_password">Изменить пароль</a>
            <h4 style="margin: 70px 0px 40px 0px; ">Заметки</h4>
            {% set note_db = session.query(Note) %}
            {% for i in range(session.query(Note).count()) %}
            <div>
                {% if note_db[i].nickname == current_user.nickname %}
                {% set sights = {"Ancient_volcano": "Древний вулкан", "Basegi_Nature_Reserve": "Заповедник Басеги",
                "Blue_lakes": "Голубые озёра", "Cathedral_square": "Соборная площадь", "Perm_36": "Пермь-36", "Usva_pillars": "Устьвинские столбы",
                "Vakutin_stone": "Вакутин камень", "Vishera_nature_reserve": "Вишерский заповедник"} %}
                {% if sights[note_db[i].sight]%}
                <h5 style="float: left;">{{ sights[note_db[i].sight] }} &#160;</h5>
                {% else %}
                <h5 style="float: left;">{{ note_db[i].sight }} &#160;</h5>
                {% endif %}
                <p style="float: left;">{{ note_db[i].datetime }}</p>
                    <div style="float: right;">
                        {% set note_id = "/delete_note/" + "/" + note_db[i].id | string %}
                        <a class="btn btn-danger" href="{{ note_id }}">Удалить</a>
                    </div>
                <p style="clear: both;">{{ note_db[i].note }}</p>
                {% endif %}
            {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}