{% extends "header_footer.html" %}

{% block content %}

    <div style="text-align: center; margin-top: 50px;">
        <figure class="sight_caption_redirect">
            <img src="static/images/sights/Соборная площадь.jpg" class="sight1_1redirect">
            <img src="static/images/sights/Соборная площадь2.jpg" class="sight1_2_redirect">
            <img src="static/images/sights/Соборная площадь3.jpg" class="sight1_3_redirect">
            <img src="static/images/sights/Соборная площадь4.jpg" class="sight1_4_redirect">
                <h3 style="margin-top: 30px;"><u>Соборная площадь в Соликамске</u></h3>
                <main role="main" class="container">
                    <p style="text-align: left;">Здесь расположились сразу три достопримечательности Соликамска.
                    Соборная колокольня — российский аналог Пизанской башни, ее наклон
                    по вертикали определяется даже без специальных приборов, на глаз.
                    Верстовой столб Соликамска указывает начало прямого пути,
                    прозванного Государевой дорогой, из центра России в Сибирь. И
                    Троицкий собор — строение XVII века, самое масштабное и красивое
                    среди религиозных объектов края.</p>
                </main>
        </figure>
    </div>
    {% include "comment.html" %}
{% endblock %}