{% extends "header_footer.html" %}

{% block content %}

    <div>
        <h6 style="text-align: center; margin: 30px 0 30px 0;"><font face="Arial Black">Здесь Вы можете увидеть то, чего нет в других краях</font></h6>
    </div>
    <div>
        <main role="main" class="container" >
            {% set sights = "Соборная площадь", "Вишерский заповедник", "Пермь-36",
            "Устьвинские столбы", "Вакутин камень", "Древний вулкан",
            "Заповедник Басеги", "Голубые озёра" %}
            {% set sight_hrefs = "/Cathedral_square", "/Vishera_nature_reserve", "/Perm_36",
            "/Usva_pillars", "/Vakutin_stone", "/Ancient_volcano",
            "/Basegi_Nature_Reserve", "/Blue_lakes" %}
            {% for i in range(sights | length) %}
                {% if i % 2 == 0 %}
                    <figure class="sight_caption">
                {% else %}
                    <figure class="sight_caption" style="margin: 0 0px 50px 0;">
                {% endif %}
                {% set img = "static/images/sights/" + sights[i] + ".jpg" %}
                <p><img src="{{ img }}" alt="{{ sights[i] }}" class="sight"></p>
                <a href="{{ sight_hrefs[i] }}"><figcaption>{{ sights[i] }}</figcaption></a>
                </figure>
            {% endfor %}
        </main>
    </div>

    <div style="clear: both; ">
        <main role="main" class="container">
            <h3 style="text-align: center; padding: 100px 0 40px 0;">Оставить Отзыв</h3>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.description.label }}<br>
                        {{ form.description(class="form-control", type="description") }}<br>
                        {% for error in form.description.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name(class="form-control", type="name") }}<br>
                        {% for error in form.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(class="form-control", type="email") }}<br>
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    <div>{{ message }}</div>
                </form>
        </main>
    </div>

{% endblock %}