{% extends "header_footer.html" %}

{% block content %}

    <div>
        <h6 style="text-align: center; margin: 30px 0 30px 0;"><font face="Arial Black">Здесь Вы можете увидеть то, чего нет в других краях</font></h6>
    </div>
    <div>
        <main role="main" class="container" >
        <figure class="sight_caption">
            <p><img src="static/images/sights/Соборная площадь.jpg" alt="Соборная площадь" class="sight"></p>
            <a href="/Cathedral_square"><figcaption>Соборная площадь</figcaption></a>
        </figure>
        <figure class="sight_caption" style="margin: 0 0px 50px 0;">
            <p><img src="static/images/sights/Вишерский заповедник.jpg" alt="Вишерский заповедник" class="sight"></p>
            <a href="/Vishera_nature_reserve"><figcaption>Вишерский заповедник</figcaption></a>
        </figure>
        <figure class="sight_caption">
            <p><img src="static/images/sights/Пермь-36.jpg" alt="Пермь-36" class="sight"></p>
            <a href="/Perm_36"><figcaption>Пермь-36</figcaption></a>
       </figure>
       <figure class="sight_caption" style="margin: 0 0px 50px 0;">
            <p><img src="static/images/sights/Устьвинские столбы.jpg" alt="Устьвинские столбы" class="sight"></p>
            <a href="/Usva_pillars"><figcaption>Устьвинские столбы</figcaption></a>
       </figure>
        <figure class="sight_caption">
            <p><img src="static/images/sights/Вакутин камень.jpg" alt="Вакутин камень" class="sight"></p>
            <a href="/Vakutin_stone"><figcaption>Вакутин камень</figcaption></a>
        </figure>
        <figure class="sight_caption" style="margin: 0 0px 50px 0;">
            <p><img src="static/images/sights/Древний вулкан.jpg" alt="Древний вулкан" class="sight"></p>
            <a href="/Ancient_volcano"><figcaption>Древний вулкан</figcaption></a>
        </figure>
        <figure class="sight_caption">
            <p><img src="static/images/sights/Заповедник Басеги.jpg" alt="Заповедник Басеги" class="sight"></p>
            <a href="/Basegi_Nature_Reserve"><figcaption>Заповедник Басеги</figcaption></a>
       </figure>
       <figure class="sight_caption" style="margin: 0 0px 50px 0;">
            <p><img src="static/images/sights/Голубые озёра.jpg" alt="Голубые озёра" class="sight"></p>
            <a href="/Blue_lakes"><figcaption>Голубые озёра</figcaption></a>
       </figure>
        </main>
    </div>

    <div style="clear: both; ">
        <main role="main" class="container">
            <h3 style="text-align: center; padding: 100px 0 40px 0;">Оставить Отзыв</h3>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.description.label }}<br>
                        {{ form.description(class="form-control", type="description") }}<br>
                        {% for error in form.description.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name(class="form-control", type="name") }}<br>
                        {% for error in form.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(class="form-control", type="email") }}<br>
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    <div>{{ message }}</div>
                </form>
        </main>
    </div>

{% endblock %}