{% extends "header_footer.html" %}

{% block content %}

<div>
    <main role="main" class="container" >
        <h4 style="text-align: center; margin: 30px 0 30px 0;"><font face="Arial Black">Неопубликованные посты</font></h4>
        {% set post = session.query(Post) %}
        {% for i in range(session.query(Post).count()) %}
            {% if post[i].status == "unpublished" %}
                {% if (sights | length + i) % 2 == 0 %}
                    <figure class="sight_caption">
                {% else %}
                    <figure class="sight_caption" style="margin: 0 0px 50px 0;">
                {% endif %}
                {% set img = post[i].images.split("#")[0] %}
                {% set href = post[i].sight %}
                <p><img src="{{ img }}" alt="{{ post[i].sight }}" class="sight"></p>
                <a href="{{ href }}"><figcaption>{{ post[i].sight }}</figcaption></a>
                    </figure>
            {% endif %}
        {% endfor %}
    </mail>
</div>

{% endblock %}