{% extends "header_footer.html" %}

{% block content %}

    <div style="text-align: center; margin-top: 50px;">
        <figure class="sight_caption_redirect">
            <img src="static/images/sights/Устьвинские столбы.jpg" class="sight1_redirect">
                <h3 style="margin-top: 30px;"><u>Усьвинские Столбы</u></h3>
                <main role="main" class="container">
                    <p style="text-align: left;">Уникальные Усьвинские каменные столбы на реке Усьва,
                        вытянувшиеся в длину на несколько километров и достигающие высоты 120 метров,
                        по праву считаются одним из любимых и притягательных мест туристов
                        Пермского края. Кроме того, Усьвинские Столбы также можно назвать визитной
                        карточкой этой части Пермского края, как и знаменитый Каменный город.</p>
                    {% set note_href = "/add_note/" + "Usva_pillars" %}
                    <a style=" float: right;" class="btn btn-info" href="{{ note_href }}">Добавить в заметки</a>
                </main>
        </figure>
    </div>
    {% include "comment.html" %}
{% endblock %}