{% extends "header.html" %}

{% block content %}

    <div style="text-align: center; margin-top: 50px;">
        <figure class="sight_caption_redirect">
            <img src="static/images/sights/Устьвинские столбы.jpg" class="sight4_1redirect">
                <h3 style="margin-top: 30px;"><u>Усьвинские Столбы</u></h3>
                <main role="main" class="container">
                    <p style="text-align: left;">Уникальные Усьвинские каменные столбы на реке Усьва,
                        вытянувшиеся в длину на несколько километров и достигающие высоты 120 метров,
                        по праву считаются одним из любимых и притягательных мест туристов
                        Пермского края. Кроме того, Усьвинские Столбы также можно назвать визитной
                        карточкой этой части Пермского края, как и знаменитый Каменный город.</p>
                </main>
        </figure>
    </div>
{% endblock %}