{% extends "header.html" %}

{% block content %}

    <div style="text-align: center; margin-top: 50px;">
        <figure class="sight_caption_redirect">
            <img src="static/images/sights/Вакутин камень.jpg" class="sight5_1redirect">
                <h3 style="margin-top: 30px;"><u>Вакутин камень</u></h3>
                <main role="main" class="container">
                    <p style="text-align: left;">Сама скала особо примечательной не является,
                        на нее взбираются ради потрясающей панорамы, что открывается с нее.
                        Вид на огромную круглую поляну, образованную петлей реки Иргины и нависающей
                        над ней лес. Создается захватывающая дух иллюзия свободного полета.
                        В самой речке счастливчик может выудить ценный трофей: легендарного
                        уральского хариуса. Еще один плюс достопримечательности –
                        к ней легко добраться на автомобиле.</p>
                </main>
        </figure>
    </div>
{% endblock %}